<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>首页</title>
		<script src="js/mui.min.js"></script>
		<link href="css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="css/style.css"/>
		<style>
			html,
			body, .mui-content {
				background-color: #fff;
			}
			.search-wrapper {
				margin: 15px;
				border-radius: 5px;
				height: 30px;
				text-align: center;
				background: #E6E6E6;
			}
			span {
				line-height: 30px;
				font-size: 14px;
				color: #AAA;
			}

			.img-item {
				width: 60px;
				height: 90px;
				margin-right: 10px;
			}
		</style>
	</head>

	<body>
		<div class="mui-content" id="mui-content">
			<div class="search-wrapper" id="search" @tap="toSearch">
				<span class="mui-icon mui-icon-search"></span>
				<span>电影/电视剧/演员</span>
			</div>
			<!--下拉刷新容器-->
			<div id="refreshContainer" class="list-content">
				<!--数据列表-->
				<ul class="mui-table-view">
					<li class="mui-table-view-cell" v-for="item in movies" @tap="openDetail(item)">
						<img :src="item.cover" alt="图片" class="mui-pull-left img-item" />
						<div class="dark-big mui-ellipsis">
							{{item.title}}
						</div>
						<div class="mui-ellipsis">
							<span class="gray-small">
								{{item.genres}}
							</span>&nbsp;
							<span class="orange-small" v-if="item.score>0">
								{{item.score}}分
							</span>
							<span class="orange-small" v-else>
								暂无评分
							</span>
						</div>
						<div class="mui-ellipsis gray-small">
							导演：{{item.directors}}
						</div>
						<div class="mui-ellipsis gray-small">
							主演：{{item.casts}}
						</div>
					</li>	
				</ul>
			</div>
		</div>

		<script src="js/util.js"></script>
		<script type="text/javascript" src="js/vue.min.js"></script>
		<script type="text/javascript">
			var vm = new Vue({
				el: '#mui-content',
				data: {
					movies: []
				}
			});				
			
			mui.init({  
			  pullRefresh: {
			    container:"#refreshContainer",//下拉刷新容器标识，querySelector能定位的css选择器均可，比如：id、.class等
			    down: {
			      style:'circle',//必选，下拉刷新样式，目前支持原生5+ ‘circle’ 样式
			      color:'#2BD009', //可选，默认“#2BD009” 下拉刷新控件颜色
			      height:'50px',//可选,默认50px.下拉刷新控件的高度,
			      range:'100px', //可选 默认100px,控件可下拉拖拽的范围
			      offset:'0px', //可选 默认0px,下拉刷新控件的起始位置
			      auto: false,//可选,默认false.首次加载自动上拉刷新一次
			      callback: refreshData //必选，刷新函数，根据具体业务来编写，比如通过ajax从服务器获取新数据；
			    },
			    up: {
			      auto: false,//可选,默认false.自动上拉加载一次
			      contentrefresh : "正在加载...",//可选，正在加载状态时，上拉加载控件上显示的标题内容
			      contentnomore:'没有更多数据了',//可选，请求完毕若没有更多数据时显示的提醒内容；
			      callback: loadMoreData //必选，刷新函数，根据具体业务来编写，比如通过ajax从服务器获取新数据；
			    } 
			  }			   
			});
				
			// 下拉刷新
			function refreshData() { 
				// 请求热映接口数据
				mui.ajax('http://api.douban.com/v2/movie/in_theaters', {
					type: 'get', 
					data: {
						start: 0,
						count: 10,
					},
					dataType: 'json',
					success(res) {
						vm.movies = [];
						vm.movies = convert(res.subjects);
						mui('#refreshContainer').pullRefresh().endPulldown();
						mui('#refreshContainer').pullRefresh().refresh(true);

					}
				})					
			};
			 
			// 上拉加载
			function loadMoreData() {
				// 请求热映接口数据
				mui.ajax('http://api.douban.com/v2/movie/in_theaters', {
					type: 'get',
					data: {
						start: vm.movies.length,
						count: 10,
					},
					dataType: 'json',
					success(res) {
						vm.movies = vm.movies.concat(convert(res.subjects));
						mui('#refreshContainer').pullRefresh().endPullupToRefresh(vm.movies.length>=res.total);
					}
				})						
			};
			 
			// 搜索页
			function toSearch() {
				mui.openWindow({
					url: './html/search.html',
					id: 'search'
				})
			}
			
			// 跳转电影详情
			function openDetail(item){
				// 触发目标窗口的自定义事件
				mui.fire(detailPage, 'movieId', {
					id: item.id
				})
				
				mui.openWindow({
					id: 'movieDetail',
				})
			};
			
			var detailPage
			mui.plusReady(function() {
				plus.nativeUI.showWaiting('加载中', {
					width: '100px',
					height: '100px'
				})
				// 预加载电影详情页面
				detailPage = mui.preload({
					id: 'movieDetail',
					url: './html/movieDetail.html'
				})
				
				mui.ajax('http://api.douban.com/v2/movie/in_theaters', {
					type: 'get',
					data: {
						start: 0,
						count: 10,
					}, 
					dataType: 'json',
					success(res) {
						plus.nativeUI.closeWaiting()
						vm.movies = vm.movies.concat(convert(res.subjects))
					},
					error(err) {
						console.log(err)
					}
				})			
				
				var self = plus.webview.currentWebview();

				// 创建子webview窗口 并初始化
				var aniShow = {};
				util.initSubpage(aniShow);
				
				var nview = plus.nativeObj.View.getViewById('tabBar'),
					activePage = plus.webview.currentWebview(),
					targetPage,
					subpages = util.options.subpages,
					pageW = window.innerWidth,
					currIndex = 0;
				
				/**
				 * 根据判断view控件点击位置判断切换的tab
				 */
				nview.addEventListener('click', function(e) {
					var clientX = e.clientX;
					if(clientX > 0 && clientX <= parseInt(pageW * 0.33)) {
						currIndex = 0;
					} else if(clientX > parseInt(pageW * 0.34) && clientX <= parseInt(pageW * 0.67)) {
						currIndex = 1;
					} else {
						currIndex = 2;
					}
					// 匹配对应tab窗口	
					if(currIndex > 0) {
						targetPage = plus.webview.getWebviewById(subpages[currIndex - 1]);
					} else {
						targetPage = plus.webview.currentWebview();
					}

					if(targetPage == activePage) {
						return;
					}
					
					if(currIndex !== 3) { 
						//底部选项卡切换
						util.toggleNview(currIndex);
						// 子页面切换
						util.changeSubpage(targetPage, activePage, aniShow);
						//更新当前活跃的页面
						activePage = targetPage;
					}
				});
			});
			
			// 初始化滚动
			mui('.mui-scroll-wrapper').scroll({
				indicators: false
			})

			function convert(items) {
				var newItems = [];
				items.forEach(function(item) {
					// 类型
					var genres = item.genres.join('/');
					// 导演
					var directors = '';
					for(var i=0; i<item.directors.length; i++) {
						directors += item.directors[i].name;
						if (i != item.directors.length - 1) {
							directors += '/';
						}
					}
					// 演员
					var casts = '';
					for(var i=0; i<item.casts.length; i++) {
						casts += item.casts[i].name;
						if (i != item.casts.length - 1) {
							casts += '/';
						}
					}
					newItems.push({
						id: item.id,
						title: item.title,
						genres: genres, 
						cover: item.images.large,
						score: item.rating.average,
						directors: directors,
						casts: casts
					})
				})

				return newItems;
			}

		</script>
	</body>

</html>